{% extends "index.html" %}
{% block header %}<h1> New Song  </h1>{% endblock %}
{% block content %}<form action="{{url_for('newSong', singer_id=singer_id )}}" method = 'POST'>

<p>Name:</p>

<input type='text' size='30' name='name'>

<p>Description :</p>
<input type='text' size='30' name='description'>

<p>Album :</p>
<input type='text' size='30' name='album'>

<p>Year Released :</p>
<input type='text' size='30' name='year_released'>

<p></p>

<input class="btn btn-primary" type='submit' value='Create'>

</form>{% endblock %}


